<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1450&q=80);">
  <div class="container">
    <h1><strong>My amazing watchlist</strong></h1>
    <%=  link_to "Create your new list", new_list_path, class:"link" %>
  </div>
</div>

<div class="container">
  <div class="cards d-flex justify-content-around">
    <% @lists.each do |list|%>
      <div class= "card-category col-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.image %>)">
        <%= link_to list_path(list), class:"movie_type" do %>
          <p><%= list.name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
