// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

body {
  background-color: rgb(26, 26, 26);
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: rgb(208, 201, 201);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.link {
  margin: 0;
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-decoration: none;
  color: rgb(208, 201, 201);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.card-category {
  background-size: cover;
  height: 180px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
}

.movie_type {
  color: rgb(181, 181, 181);
  text-decoration: none;
  text-align: center;
}

.movie_type:hover {
  color: rgb(223, 223, 223);
}

.cards {
  display: flex;
  justify-content: space-between;
}
